---
// src/layouts/BaseLayout.astro
import Analytics from "@vercel/analytics/astro";
import Footer from "../components/astro/Footer.astro";
import Header from "../components/astro/Header.astro";
import SEO from "../components/astro/seo.astro";
import {
  getLocaleFromUrl,
  getLocalizedURL,
  useTranslations,
  languages,
  defaultLang,
} from "../i18n/utils";

interface Props {
  title: string;
  description?: string;
  image?: string;
  type?: string;
  schema?: Record<string, any>;
  meta?: Array<{ name: string; content: string }>;
  robots?: string;
  fullWidth?: boolean;
}

const {
  title,
  description,
  image,
  type,
  schema,
  meta,
  robots,
  fullWidth = false,
} = Astro.props;

const currentLocale = getLocaleFromUrl(Astro.url);
const currentPath = Astro.url.pathname;
const t = await useTranslations(currentLocale);

const siteUrl = Astro.site?.origin || Astro.url.origin;

interface AlternateUrls {
  [key: string]: string;
  "x-default": string;
  en: string;
  pl: string;
}

const baseAlternateUrls = Object.keys(languages).reduce<Record<string, string>>(
  (acc, locale) => {
    const path = getLocalizedURL(currentPath, locale, defaultLang);
    const url = new URL(path, siteUrl).toString();
    return { ...acc, [locale]: url };
  },
  {}
);

const alternateUrlsWithDefault: AlternateUrls = {
  ...baseAlternateUrls,
  "x-default": baseAlternateUrls["en"],
  en: baseAlternateUrls["en"],
  pl: baseAlternateUrls["pl"],
};
---

<!doctype html>
<html lang={currentLocale}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <SEO
      title={title}
      description={description || t("meta.description")}
      image={image}
      type={type}
      currentLocale={currentLocale}
      alternateUrls={alternateUrlsWithDefault}
      schema={schema}
      meta={meta}
      robots={robots}
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="bg-black text-white font-mono">
    <div class="flex flex-col min-h-screen">
      {/* Header uses full width */}
      <div class="max-w-7xl w-full mx-auto">
        <Header />
      </div>

      {/* Main content slightly inset */}
      <main
        class={`flex-grow mx-auto w-full px-4 sm:px-6 lg:px-8 py-16 ${
          fullWidth ? "max-w-6xl" : "max-w-4xl"
        }`}
      >
        <slot />
      </main>

      {/* Footer uses full width */}
      <div class="max-w-7xl w-full mx-auto">
        <Footer />
      </div>
      <Analytics />
    </div>
  </body>
</html>
